.navbar{
    background: linear-gradient(45deg,#043935,#043330) !important;
}
.hero-section{
    min-height: 80vh;
    background: linear-gradient(45deg,rgba(79, 116, 114,0.25),rgba(54, 97, 93,0.94)),url('/assets/images/architect.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.br-text{
    background-color: rgba(0, 0,0, 0.700);
}
.nav-link{
    position: relative;
}
.nav-link::after{
    content: "";
    opacity: 0;
    height: 2px;
    width: 100%;
    background-color: #36615d;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
}
.nav-link:hover::after{
    opacity: 1;
}
#span-bg span{
    background: #1d4d49;
}
.card-btn a{
    background-color: #1d4d49;
}